<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>
		<!-- miséricordia -->
		<div style="width:99%; margin:auto"> 
			<form action="relatorio" method="post" class="form-inline">
				<div class="form-group">
					<label for="dataInicial">Data Inicial:</label>
					<input type="date" class="form-control" id="dataInicial" name="dataInicial">
				</div>

				<div class="form-group">
					<label for="dataFinal">Data final:</label>
					<input type="date" class="form-control" id="dataFinal" name="dataFinal">
				</div>
				<div class="form-group">
					<label for="tipoRelatorio">Tipo:</label>
					<select id="selectBox" name="type" class="form-control" onchange="selecionarProduto(this);">
						<option value="balance">Balanço de Vendas</option>
						<option value="peaktime">Horário de Pico</option>
					</select>
				</div>
				<button type="button" onclick="submitFilter()" class="btn btn-success">Pesquisar</button>
			</form>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Produto</th>
						<th>Quantidade</th>
						<th>Valor Total</th>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					<% pedidos.forEach(function(pedido){ %>
					<tr>
						<td><%= pedido.produtoid %></td>
						<td><%= pedido.quantidade%></td>
						<td><%= pedido.valor%>R$</td>
						<td><%= pedido.data.getDate()%>/<%= pedido.data.getMonth() + 1%>/<%= pedido.data.getFullYear()%></td>
					</tr>
					<%})%>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>