<html lang="en">
	<head>
		<% include ../partials/head %>
		<script type="text/javascript">

		function alerta(){
		}
		</script>
	</head>
	<body>
		<div class="container">
		<header>
			<% include ../partials/header %>
		</header>

			<div class="row">
				<div class="col-sm-8">
					<form action="relatorio" method="post" class="form-inline">
						Data inicial:
						<input type="date" id="dataInicial" name="dataInicial">
		  				Data final:
						<input type="date" id="dataFinal" name="dataFinal">
						<button type="submit" class="btn btn-success">Inserir</button>
						<br><br>
						<table class="table table-striped table-bordered">
						<thead>
						<tr>
							    <th>Produto</th>
							    <th>Quantidade</th>
							    <th>Valor Total</th>
							    <th>Data</th>
							</tr>
						</thead>
							<tbody>
								<% pedidos.forEach(function(pedido){ %>
							<tr>
								<td><%= pedido.produtoid %></td>
								<td><%= pedido.quantidade%></td>
								<td><%= pedido.valor%>R$</td>
								<td><%= pedido.data.getDate()%>-<%= pedido.data.getMonth() + 1%>-<%= pedido.data.getFullYear()%></td>
							</tr>
							<%})%>
							</tbody>
							
							
						</table>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>