<html lang="en">
<head>
	<% include ../partials/head %>

	<script type="text/javascript">
		function selecionarVendedor(select){
			var vendedor = document.getElementById('selectBoxVendedor').value;
			
			document.getElementById('sellerName').value = vendedor;
		}
	</script>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>
		<!-- miséricordia -->
		<div style="width:99%; margin:auto"> 
			<form action="relatorios" method="post" class="form-inline">
				<div class="form-group">
					<label for="dataInicial">Data Inicial:</label>
					<input type="date" value='<%=dataInicial%>' class="form-control" id="dataInicial" name="dataInicial">
				</div>

				<div class="form-group">
					<label for="dataFinal">Data Final:</label>
					<input type="date" value='<%=dataFinal%>' class="form-control" id="dataFinal" name="dataFinal">
				</div>
				<div class="form-group">
					<label for="tipoRelatorio">Tipo:</label>
					<select id="selectBox" name="type" class="form-control">
						<option <%if(type=="balance"){%> selected="selected" <%}%> value="balance">Balanço de Vendas</option>
						<option <%if(type=="peaktime"){%> selected="selected" <%}%> value="peaktime">Horário de Pico</option>
					</select>
				</div>
				<div class="form-group"> 
					<label for="selectBox">Vendedores:</label>
					<select id="selectBoxVendedor" class="form-control" onchange="selecionarVendedor(this);">
						<option selected hidden>Selecione um vendedor</option>
						<% vendedores.forEach(function(vendedor){ %>
							<option value="<%= vendedor.nome%>"><%= vendedor.nome%></option>
						<%})%>
					</select>
				</div>
				<div class="form-group">
					<input type="text" name="sellerName" id="sellerName" value="" class="hidden">
				</div>
				<button type="submit" class="btn btn-success">Pesquisar</button>
			</form>
				<% if (type=="peaktime") { %>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Intervalo de Tempo</th>
								<th>Quantidade Vendida</th>
								<th>Valor Ganho</th>
							</tr>
						</thead>
						<tbody>
							<% array.forEach(function(item){ %>
							<tr>
								<td><%= item.time %></td>
								<td><%= item.qtd%></td>
								<td>R$ <%= item.totalBought%></td>
							</tr>
							<%})%>
						</tbody>
					</table>
				<%} else{ %>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Produto</th>
								<th>Quantidade</th>
								<th>Valor Total</th>
								<th>Data</th>
							</tr>
						</thead>
						<tbody>
						<% if(array.length == 0){ %>
								<tr>
									<td align="center" colspan="4">
										A sua busca não retornou nenhuma venda
									</td>
								</tr>
							<%} else {%>
							<% array.forEach(function(pedido){ %>
							<tr>
								<td><%= pedido.nomeproduto %></td>
								<td><%= pedido.quantidade%></td>
								<td>R$ <%= pedido.valor%></td>
								<td><%= pedido.data.getDate()%>/<%= pedido.data.getMonth() + 1%>/<%= pedido.data.getFullYear()%></td>
							</tr>
							<%})%>
						<%}%>
						</tbody>
					</table>
				<%}%>
		</div>
	</div>
</body>
</html>