<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../../partials/header %>
		</header>
		<div class="center-container">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Preço</th>
						<th>Quantidade</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					<% produtos.forEach(function(produto){ %>
					<tr>
						<td><%= produto.name%></td>
						<td><%= produto.price%> R$</td>
						<td><%= produto.availableQtd %></td>
						<td><a href=<%= "editarproduto?id=" + produto._id %> class="btn btn-warning btn-sm">Editar </a> <a href=<%= "deletarproduto?id=" + produto._id %> class="btn btn-danger btn-sm">Deletar </a> </td>
					</tr>
					<%})%>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>